/* ==========================================================================
   Page layout
   ========================================================================== */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: $body-color;
}

/* 
   Main content
   ========================================================================== */

.entry,
.hentry {
	@include clearfix;

	h1, h2, h3, h4, h5, h6, p, li {
		word-wrap: break-word;
	}
}

.entry-content {
	@include font-size(16);

	// Dotted line underlines for links
	p > a,
	li > a {
		color: $link-color-x;
	}

	li {
		margin-bottom: 7px;
	}

	.footnotes {
		ol, li, p {
			@include font-size(14);
		}
	}
}

/* 
   Entry header
   ========================================================================== */

.entry-header {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header-title {
	text-align: center;
	margin: 30px 0 0;

	h1 {
		margin: 10px 20px;
		font-weight: 700;
		@include font-rem(48);
		color: lighten($base-color,20);

		@media #{$medium} {
			@include font-rem(72);
		}

		@media #{$large} {
			@include font-rem(96);
		}
	}

	/* 首页title需要大号字体，单个post页覆盖掉使用稍小的字体 */
	h1.entry-title {
		@include font-rem(32);

		@media #{$medium} {
			@include font-rem(64);
		}

		@media #{$large} {
			@include font-rem(72);
		}
	}

	h2 {
		margin: 0;
		@include font-rem(18);
		text-transform: uppercase;
		color: lighten($base-color,40);

		@media #{$medium} {
			@include font-rem(32);
		}
	}

	p {
		color: lighten($base-color,20);
	}
}

.feature .header-title {
	position: absolute;
	top: 0;
	display: table;
	margin-top: 0;
	width: 100%;
	height: $feature-image-height;
	overflow: hidden;

	.header-title-wrap {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		text-align: center;
	}

	h1 {
		margin: 10px;
		font-weight: 700;
		margin: 10px 60px;
		color: #fff;
		text-shadow: 1px 1px 4px rgba($base-color,0.6);

		a {
			color: #fff;
		}
	}

	h2 {
		margin: 0;
		color: #fff;
		text-transform: uppercase;

		@media #{$medium} {
			a {
				color: #fff;
			}
		}
	}

	p {
		color: #fff;
	}
}

.entry-image {
	position: relative;
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	min-height: $feature-image-height;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($base-color,0.3);
	}

	img {
		@media #{$large} {
			top: -45%;
		}
		top: 0;

		position: absolute; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		margin: auto; 
		min-width: 50%;
		min-height: $feature-image-height; // match .entry-image min-height
	}
}

// Feature Image height on Front Page
#post-index {

	&.feature .header-title {
		height: $front-page-feature-image-height-small;
		@media #{$medium} {
			height: $front-page-feature-image-height;
		}
	}

	.entry-image {
		min-height: $front-page-feature-image-height-small;
		@media #{$medium} {
			min-height: $front-page-feature-image-height;
		}
		img {
			min-height: $front-page-feature-image-height-small;
			@media #{$medium} {
				min-height: $front-page-feature-image-height;
			}
		}
	}
}

// Feature Image Caption
.image-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	max-width: 440px;
	padding: 10px 15px;
	background-color: rgba($base-color,0.5);
	color: #fff;
	@include font-rem(12);
	text-align: right;
	border-radius: 3px 0 0 0;
	z-index: 10;

	@media #{$medium} {
		max-width: 760px;
	}

	@media #{$large} {
		max-width: 960px;
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}

/* 
   Single post and page
   ========================================================================== */

.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: lighten($base-color,60);

	a {
		color: lighten($base-color,60);
	}

	.vcard {
		text-transform: none;
		&:before {
			content: " by ";
		}
	}

	.tag {
		text-transform: none;
		@include font-rem(14);
		display: inline-block;
		margin: 5px;
		color: #fff;
		border-radius: 15px;
		background-color: rgba(0,0,0,.06);

		span {
			float: left;
			color: #BBB;
			padding: 5px 15px;
		}

		.count {
			background-color: rgba(0,0,0,.16);
			border-radius: 0 15px 15px 0;
			padding: 5px 10px;
		}

		&:hover {
			background-color: rgba(0,0,0,.16);
		}
	}

	.tag-dark span {
		color: grey;
	}

	.entry-reading-time {
		float: right;
	}
}

header .entry-meta {
	display: none; // hide header meta on small screens

	@media #{$medium} {
		display: block;
	}
}

#post,
#page {

	.entry-content {
		margin: 40px 2px 20px 2px;
		padding: 10px 15px;
		background-color: #fff;
		box-shadow: 0 0 0 0, 0 6px 12px rgba(#000,0.1);
		border-radius: 3px;

		@media #{$medium} {
			margin-left: 10px;
			margin-right: 10px;
			padding: 20px 30px;
		}

		@media #{$large} {
			max-width: 800px;
			margin: 50px auto 30px auto;
			padding: 50px 80px;
		}
	}

	#comment_wrapper {
		margin: 40px 2px 20px 2px;
		padding: 10px 15px;
		background-color: #fff;
		box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba(#000,0.1);
		border-radius: 3px;

		@media #{$medium} {
			margin-left: 10px;
			margin-right: 10px;
			padding: 20px 30px;
		}

		@media #{$large} {
			max-width: 800px;
			padding: 50px 80px;
			margin: 0 auto 30px auto;
		}
	}

	.entry-meta {
		margin: 50px 30px 30px;
		text-align: center;
	}

	footer.entry-meta {
		margin-bottom: 0;
	}
}

.entry-tags {
	display: block;
	margin-bottom: 6px;
}

.category-heading,
.tag-heading,
.year-heading {
	margin-top: 0;
}

// Permalink icon for link post
.permalink {
	margin-right: 7px;
}

// Post Pagination Module
.pagination {
	margin: 20px 10px;
	text-align: center;

	ul {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}

	li {
		padding-left: 4px;
		padding-right: 4px;
	}

	.current-page {
		font-weight: 700;
	}
}

// Read More Module
.read-more {
	position: relative;
	margin: 40px 2px 20px 2px;
	padding: 40px 15px 25px;
	background-color: #fff;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba(#000,0.1);
	border-radius: 3px;

	@media #{$medium} {
		margin: 50px 10px 20px 10px;
		padding: 50px 40px 25px;
	}

	@media #{$large} {
		max-width: 800px;
		padding: 50px 80px;
		margin: 60px auto;
	}

	text-align: center;
	@include clearfix;
}

.read-more-header {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	height: 35px;

	a {
		@extend .btn;
	}
}

.read-more-content {
	@include font-size(16);

	// Dotted line underlines for links
	p > a,
	li > a {
		border-bottom: 1px dotted lighten($link-color, 50);

		&:hover {
			border-bottom-style: solid;
		}
	}

	h3 {
		margin: 0;
		@include font-rem(28);

		a { 
			color: $text-color;
		}

		@media #{$medium} {
			@include font-rem(36);
		}
	}
}

.read-more-list {
	border-top: solid 2px lighten($base-color,80);
}

.list-item {
	width: 100%;
	text-align: left;

	h4 { 
		@include font-rem(18);
		margin-bottom: 0; 
	}

	span { 
		display: block;
		@include font-rem(14);
		color: lighten($base-color,50);
	}

	@media #{$medium} {
		width: 49%;
		float: left;

		&:nth-child(2) {
			text-align: right;
		}
	}
}

/* 
   Post index
   ========================================================================== */

#post-index {
	#main {
		margin: 40px 2px 20px 2px;

		@media #{$medium} {
			margin-left: 20px;
			margin-right: 20px;
		}

		@media #{$large} {
			max-width: 800px;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	article {
		background-color: #fff;
		box-shadow: 0 0 0 0, 0 6px 12px rgba($base-color,0.1);
		border-radius: 3px;
		margin-bottom: 20px;
		padding: 25px 15px;

		@media #{$medium} {
			padding: 30px;
		}

		@media #{$large} {
			margin-bottom: 30px;
			padding: 50px 80px;
		}
	}
	li.entry-title {
		padding: 8px 0;
		@include font-rem(20);

		a {
			color: rgba(34,34,34,0.8);
		}
	}
}

.entry-image-index {
	border-radius: 3px 3px 0 0;
	height: 150px;
	@media #{$medium} {
		height: 200px;
	}

	overflow: hidden;
	position: relative;

	display: flex;
    align-items: center;
    justify-content: center;

	margin-top: -25px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 10px;

	@media #{$medium} {
		margin-top: -30px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 15px;
	}

	@media #{$large} {
		margin-top: -50px;
		margin-left: -80px;
		margin-right: -80px;
		margin-bottom: 20px;
	}

	img {
		position: absolute;
	    margin: auto;
	    left: -100%;
	    right: -100%;
	    top: -100%;
	    bottom: -100%;
	}

	h1 {
		position: relative;
		color: #fff;
		text-shadow: 1px 1px 4px rgba(34,34,34,0.6);
		margin: auto;
		padding: 15px;

		@media #{$medium} {
			padding: 30px;
		}
		@media #{$large} {
			padding: 80px;
		}

		a {
			color: #fff;
		}
	}
}

.entry-index {	/* 不带题图的文章 */

	overflow: hidden;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @media #{$medium} {
		margin-bottom: 15px;
	}

	@media #{$large} {
		margin-bottom: 20px;
	}

	h1 {
		position: relative;
		margin: auto;
		padding: 15px;

		a {
			color: $text-color;
		}
	}
}

/* 
   Footer
   ========================================================================== */

.footer-wrapper {
	@include clearfix;
	margin: 2em auto;
	text-align: center;
	color: lighten($text-color,20);

	a {
		color: lighten($text-color,20);
	}
}

/*
   打赏
   ========================================================================== */
.description-reward {
	@include font-rem(15);
}

a.btn-reward {
  background-color: #80CBC4;
  color: #fff;
  border-color: #80CBC4;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 4px 20px;
  vertical-align: middle;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: #80CBC4;
  }
}

.reward-popup {
  text-align: center;
  position: relative;
  background: #FFF;
  padding: 20px 32px 32px 32px;
  width: 100%;
  margin: 20px auto;

  @media #{$medium} {
	width: 480px;
  }

  p {
  	@include font-rem(15);
  	color: grey;
  }

  .mfp-close {
  	color: #BBB;
  }

  .reward-wrapper {
  	display: block;
  }

  .reward-block {
  	display: inline-block;
  	width: 45%;
  }

  .reward-qrcode {
  	height: 100%;
  	width: 100%;
  	max-height: 160px;
  	max-width: 160px;
  }

  .reward-qrcode-tag {
  	height: 28px;
  	width: 112px;
  	margin-top: 8px;
  	margin-bottom: 12px;
  }
}

/**
 * Fade-move animation for popup dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* 
   Social share
   ========================================================================== */

.socialcount {
	@include font-rem(16);

	li { 
		padding-left: 10px;
		padding-right: 10px;
	}

	p > a,
	li > a {
		border-bottom-width: 0;
	}
}


/* 
   Browser upgrade
   ========================================================================== */

.upgrade {
	padding: 10px;
	text-align: center;
}

/* 
   Google Search
   ========================================================================== */

#goog-fixurl {

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		li {
			list-style-type: none;
		}
	}
}

#goog-wm-qt {
	width: auto;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 8px 20px;
	display: inline-block;
	@include font-rem(14);
	background-color: #fff;
	color: $text-color;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: lighten($primary,50);
	border-radius: 3px;
}

#goog-wm-sb {
	@extend .btn;
}